{% extends "frogs/base.html" %}{% block title %}Operations{% endblock %}
{% load render_table from django_tables2 %}

{% block content %}
<div class="container">
    <div class="page-header"><h2>State of Operations as at {% now "d-M-Y" %}</h2></div>
     <p><a href="{% url 'frogs:operation_stats' %}" class="btn btn-info">Statistics</a></p>
     <ul class="nav nav-tabs">
         {% for sp,value in splist %}
             {% if sp == species %}
             <li class="active">
             {% else %}
            <li>
             {% endif %}
             <a  href="{% url 'frogs:operation_summary' sp %}">{{value}}</a></li>
        {% endfor %}
       
    </ul>
    <div class="tab-content">
    <div id="{{species}}" class="tab-pane fade in active">
        {% if summaries.rows %}
            {% render_table summaries %}
        {% else %}
            <div class="alert alert-warning"><p>No operations in database</p></div>
        {% endif %}
    </div>
    </div>

</div>{% endblock %}