{% extends "frogs/base.html" %}
{% block title %}Frogs{% endblock %}
{% load django_tables2 %}

{% block content %}
<div class="container">
    <div class="row col-md-12">
        <div class="page-header"><h2>{{ list_title }}</h2></div>
        <p>
            {% if perms.frogs.add_frog %}
            <a href="{% url 'frogs:frog_create' %}" class="btn btn-info">Create New Frog</a>
            {% endif %}
            {% if table.rows %}
            {% if perms.frogs.delete_frog %}
            <a href="{% url 'frogs:bulkfrog_disposal' %}" class="btn btn-success">Dispose Frogs</a></p>
        {% endif %}
        {% render_table table %}
        {% else %}
        <p class="alert alert-warning">No Frogs for this shipment in the database</p>
        {% endif %}
        </p>
    </div>
</div>
{% endblock %}